[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
# You should change "modules" as your project

[scripts]
black = "black . --check"
mypy = "mypy modules"
flake8 = "flake8 ."
isort = "isort -c ."
test = "pytest -vv --cov=modules --cov-report=term-missing --cov-report=xml --ignore functions"

[pipenv]
allow_prereleases = true
